<h2><%=titolo%></h2>
<br/ >
  <ul>
      <%
      for(var i=0; i<materie.length; i++) {
      %>
          <li> <a href="art/<%= materie[i] %>"><%= materie[i] %> </a> </li>
    <%}%>
  </ul>
  <br/>
  <%=anno%>
  <br/>
  <%=loc.val%>
