  <h1><%=titolo%></h1><br/>
  <table class='list'>

  <tr>
    <td class='head'>id</td>
    <td class='head'>cognome.</td>
    <td class='head'>nome</td>
    <td class='head'>data nasc.</td>
    <td class='head'>sesso</td>
    <td class='head'>codfisc</td>
  </tr>

 <%
  for(var i=0; i<anag.length; i++){
%>
    <tr id='anagid="<%=anag[i].id%>"'\ >
    <td class="row"><%=anag[i].anagid%></td>
    <td class='row'><%=anag[i].cognome%></td>
    <td class='row'><%=anag[i].nome%></td>
    <td class='row'><%=anag[i].datanasc%></td>
    <td class='row'><%=anag[i].sesso%></td>
    <td class='row'><%=anag[i].codfisc%></td>
    </tr>
<%}%>

</table>

