<table class='list'>
  <tr>
    <td class='head'>id</td>
    <td class='head'>cognome.</td>
    <td class='head'>nome</td>
    <td class='head'>data nasc.</td>
    <td class='head'>sesso</td>
  </tr>
  <% for(var i=0; i<rows.length; i++) {%>
  <tr>
    <td class='row'> <%=rows[i].id%></td>
    <td class='row'> <%=rows[i].cognome%></td>
    <td class='row'> <%=rows[i].nome%></td>
    <td class='row'> <%=rows[i].datanasc%></td>
    <td class='row'> <%=rows[i].sesso%></td>
  </tr>
  <%}%>
</table>
